<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--<meta name="viewport" content="width=device-width">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />-->
    <title>用户反馈</title>
    <!--<link rel="stylesheet" href="../css/bootstrap.min.css">-->
    <script src="http://cdn.bootcss.com/jquery/2.2.0/jquery.min.js"></script>
    <script src="../js/javascriptAppBridge.js"></script>
    <!--<script src="http://cdn.bootcss.com/i18next/1.7.7/i18next.min.js"></script>-->
    <script src="../js/language/localizable.js"></script>
    <!--<script src="https://npmcdn.com/babel-core@5.8.38/browser.min.js"></script>-->
    <!--<script src="../js/browser.min.js"></script>-->
    <style type="text/css">
        *{
            /*border:0.5px solid greenyellow;*/
        }
        body {
            margin: 0px;
            padding: 0px;
            /*background: #eafbe9;*/
        }

        /*div {*/
            /*margin: 0px;*/
            /*padding: 0px;*/

        /*}*/
    </style>
</head>

<body>
    <!--<div id="cus-nav"></div>-->
    <!--<div id="dev-info"></div>-->
    <!--<div id="checkbox-list"></div>-->
    <!--<div id="response-content"></div>-->
    <!--<div id="phone-box"></div>-->
</body>

<script src="../build/react.min.js"></script>
<script src="../build/react-dom.min.js"></script>
<script src="../js/build/user_resp.js"></script>


</html>